@mixin flexCenter($direction, $background) {
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}


header {
    @include flexCenter(column, blue);
    background: lightblue;
    color: $textColor; 
    button {
     background: $primaryBtn;
     &::after {
         content: "Hello";
     }
    }
}

footer {
    background: lightblue;
    color: $textColor;
}